{% extends "bosh.html" %}
{% load static%}
{% block content %}

<!-- card malumot -->
<div class="card_div">
<div class="card">
  <div class="card_item">
      <div class="card_img">
         <img src="{% static 'ap/online.jpg'%}" alt="">
      </div>

         <h1 class="card_title">Lorem, ipsum dolor.</h1>
         <p class="card_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates nisi aspernatur ratione rerum aliquam cupiditate saepe autem porro nulla quisquam.</p>
      </div>
      <div class="card_item">
         <div class="card_img"><img src="{% static 'ap/online.jpg'%}" alt=""></div>
         <h1 class="card_title">Lorem, ipsum dolor.</h1>
         <p class="card_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates nisi aspernatur ratione rerum aliquam cupiditate saepe autem porro nulla quisquam.</p>
      </div>
      <div class="card_item">
         <div class="card_img"><img src="{% static 'ap/online.jpg'%}" alt=""></div>
         <h1 class="card_title">Lorem, ipsum dolor.</h1>
         <p class="card_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates nisi aspernatur ratione rerum aliquam cupiditate saepe autem porro nulla quisquam.</p>
      </div>
      <div class="card_item">
         <div class="card_img"><img src="{% static 'ap/online.jpg'%}" alt=""></div>
         <h1 class="card_title">Lorem, ipsum dolor.</h1>
         <p class="card_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates nisi aspernatur ratione rerum aliquam cupiditate saepe autem porro nulla quisquam.</p>
      </div>
      
   </div>
</div>

<!-- tavar -->
<div class="tavarlar">
<div class="tavar_contener">

   <div class="tavar_card"> 
      <h1 class="tavar_title">Lorem, ipsum dolor.</h1>
      <p class="tavar_text">Narxi:15$</p>
      <div class="tavar_item">
         <div class="tavar_img">
            <img src="{% static 'ap/hors.png'%}" alt="">
         </div>
      </div>
   </div>
   
   
</div>
</div>




{% endblock content %}